/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
    --body-color: #141922;
    --header-color: #080b12;
    --sitebar-color: #000000;
    --footer-color: #282828;
    --highlighted-color: #adff2f;
    --hover-color: #ffffff;
    --lightgrey-color: #aaa;

    /*--fa-li-margin: 100px; */
    /* --fa-li-width: ;*/


}




/* Generics */
body {
    font-family: 'Montserrat', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/* Utilties */
.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

strong {
    font-weight: 700;
}

.flex {
    display: flex;
}

.debug {
    border: 2px dotted red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

a:hover {
    color: var(--highlighted-color);
}

hr {
    width: 100%;
    margin: 10px 0;
}

/* HEADER */
.header-main  {
    height: 90px;
    background-color: var(--header-color);
    text-align: right;
    width: 100%;
    padding: 10px 10px;
    line-height: 70px;
}

.header-top a {
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
}

/* MAIN */
main {
    height: calc(100vh - 90px);
    background-color: var(--body-color);
}



/* SITE BAR */
.siterbar {
    width: 230px;
    background-color: black;
    color: white;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}
#logo {
    margin-bottom: 20px;
}

.siterbar .navbar {
    
}

.fa-house,
.fa-magnifying-glass,
.fa-bars-staggered
 {
    margin-right: 20px;
   
}

.fa-square-plus  {
     margin-right: 10px;

 }

.siterbar .navbar-list li {
    margin: 20px 0;
}

.siterbar .navbar-list li a {
    margin: 20px 0;
}

.navbar-list .playlist {
    margin-top: 40px;
}

.navbar-list .playlist span {
    font-weight: 700;
}

.playlist-title {
    display: inline-block;
    margin: 20px 0;
    color: white;
}

.siterbar a,
.siterbar footer a
{
    color: var(--lightgrey-color)
}

.siterbar .highlighted {
    width: 2px;
    background-color: var(--highlighted-color);
    height: 50px;
    position: absolute;
    top: 98px;
    left: 20px;
}

/* SITE BAR FOOTER */
.siterbar {
    color: var(--lightgrey-color)
}

.siterbar footer {
    background-color: var(--sitebar-color);
    height: 120px;
}
.fa-circle-down {
    margin-right: 10px;
    color: var(--lightgrey-color);
}

.siterbar footer img {
    width: 40px;
}
.profile {
    align-content: center;
    align-items: center;
}
.profile-image-placeholder {
    margin-right: 10px;
}



/* FOOTER */
footer {
    height: 90px;
    background-color: var(--footer-color);
    padding: 10px;
    color: white;
    position: sticky;
    overflow: hidden;
}
.footer-nav {
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.footer-nav-left,
.footer-nav-right {  
}

/* FOOTER LEFT */
.footer-nav-left-album {
    align-content: center;
    align-items: center;
}

.footer-nav-left-album .album-img {
    margin-right: 10px;
}

.footer-nav-left-album .album-img img {
    height: 70px;
}

.footer-nav-left-album .album-title {
    flex-grow: 2;
}

.preferences {
    padding: 0 40px;
}

.footer-nav-right-control .fa-solid,
.preferences .fa-regular {
    padding: 0 10px;
    cursor: pointer;
}

/* FOOTER CONTROL CENTER */

.footer-nav-control {
    flex-grow: 2;
}

.footer-nav-control-items {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer-nav-control-items .fa-solid {
    padding: 0 20px;
    cursor: pointer;
}
.control-bottom {
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px 0;
}

.control-bottom .step {
    position: relative;
}

.control-bottom .step .progress {
    margin: 0 20px;
    background-color: white;
    width: 400px;
    height: 4px;
    border-radius: 2px;
}

.control-bottom .step .progress-step {
    margin: 0 20px;
    background-color: var(--highlighted-color);
    width: 40px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

/* FOOTER RIGHT */

.footer-nav-right-control {
    align-content: center;
    align-items: center;
}

.footer-nav-right-control .step {
    position: relative;
}

.footer-nav-right-control .step .progress {
    margin: 0 20px;
    background-color: white;
    width: 100px;
    height: 4px;
    border-radius: 2px;
}

.footer-nav-right-control .step .progress-step {
    margin: 0 20px;
    background-color: var(--highlighted-color);
    width: 20px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
}














@media screen and (max-width: 992px) {
    .conteiner {
        max-width: 878px;
        margin: 0 auto;
        }

}


@media screen and (max-width: 768px) {}
        .conteiner {
            max-width: 639px;
            margin: 0 auto;
        }



@media screen and (max-width: 576px) {
    .conteiner {
            max-width: 552px;
            margin: 0 auto;
        }
}